/* Reset básico */
body, h1, h2, p {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    box-sizing: border-box;
}

body {
    line-height: 1.6;
    background-color: #5c5b5bc2;
    color: #333;
    background-image: url(https://images.pexels.com/photos/7111525/pexels-photo-7111525.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1);
    padding: 20px;
}

header {
    text-align: center;
    margin-bottom: 20px;
}

header h1 {
    color: #353535;
}

main {
    max-width: 600px;
    margin: 0 auto;
    background: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

form label {
    display: block;
    margin-top: 10px;
    font-weight: bold;
}

form input {
    width: 100%;
    padding: 8px;
    margin-top: 5px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

form button {
    display: block;
    width: 100%;
    padding: 10px;
    background-color: #28a745;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
}

form button:hover {
    background-color: #218838;
}

#resultado {
    text-align: center;
    margin-top: 20px;
    background: #e9ecef;
    padding: 10px;
    border-radius: 8px;
}

#notaGerada {
    white-space: pre-wrap;
    font-family: monospace;
}

footer {
    text-align: center;
    margin-top: 20px;
    font-size: 14px;
    color: #050505;
}
